body {
  background-image: url("/Imagenes/360_F_116153804_EmYnusFGJbk0uGY4J1BeuUX0NfmuEpFJ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: Georgia, serif;
  font-style: normal;
  color: hotpink;
}
.menu {
  list-style-type: none;
  text-align: center;
}
.menu li {
  display: inline-block;
  padding: 15px;
  margin: 20px;
  background-color: #ec82a2;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
div.contenedor {
  border: 4px dashed palevioletred;
  overflow: auto;
  background-color: white;
  max-width: 40%;
  max-height: 40%;
  justify-content: center;
}

div.contenedor_2 {
  border: 4px dashed palevioletred;
  overflow: auto;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  float: right;
}
div.contenedor_3 {
  border: 4px dashed palevioletred;
  overflow: auto;
  background-color: white;
  max-width: 50%;
  max-height: 50%;
  display: flex;
  justify-content: center;
}
